<% if !user_signed_in? %>
  <div class="jumbotron">
    <h1>Your Favorite Movies Reviewed</h1>
    <p>You can view and review your favorite movies here. You can search your movies by typing their titles in the search bar on top right. You can also add, update, and delete your movies from the system by signing up. </p>
    <P><%= link_to "Sign Up To Write A Review", new_user_registration_path, class: "btn btn-primary btn-lg" %></P>
  </div>
<% end %>


<div class="row">
  <% @items.each do |item| %>
    <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
        <% if item.image.present? %>
          <%= link_to (image_tag item.image.url(:medium), class: 'image'), item %>
        <% else %>
          <%= link_to image_tag('missing.jpeg', size: "252.5x378.75"), item_path(item)%>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
