<% if !user_signed_in? %>
  <div class="jumbotron">
    <h1>Your Favorite Items Reviewed</h1>
    <p>You can also import components explicitly. To start with a full list of modules copy _bootstrap.scss file into your assets as _bootstrap-custom.scss. Then comment out components you do not want from _bootstrap-custom. </p>
    <P><%= link_to "Sign Up To Write A Review", new_user_registration_path, class: "btn btn-primary btn-lg" %></P>
  </div>
<% end %>

<div class="row">
  <% @search_items.each do |item| %>
    <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
        <%= link_to (image_tag item.image.url(:medium), class: 'image'), item %>
      </div>
    </div>
  <% end %>
</div>



